<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Redefinir Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
 
  <ion-title>
    <p class="subTitle">
    Entre com seu email<br>
    para receber seu link <br> de redefinição.
  </p>
  </ion-title>

 
  <ion-item>
    <ion-label position="floating">Entre com seu email</ion-label>
    <ion-input [(ngModel)]="email" class="input"></ion-input>
  </ion-item>
  <ion-fab class="bottom" horizontal="end">
    <ion-fab-button (click)="resetPassword()">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
