<ion-header style="margin-bottom: 5px;" header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <div>
      <ion-item>
        <ion-title slot="start">Curious World</ion-title>
      </ion-item>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label style="color: #000" *ngIf="emailUser">
          {{ emailUser }}
        </ion-label>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>
